.div__product {
    background-color: rgb(255, 242, 242, 1);
    float: left;
    width: 90%;
    font-family: 'Quicksand', sans-serif;
    box-shadow: #333333;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 90%;
    padding: 0;
    margin: 0;
    position: absolute;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 0.8rem;
    transition: all 0.3s ease-in;

    .img__product-container {
      width: 20%;
      .img__product {
        right: 3rem;
        height: 50px;
        margin: 0 1rem 0;
      }
    }

    .mat-grid-tile__data {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
  
      .subtitle__product {
        font-weight: 600;
        font-size: 1rem;
        margin: 2rem 0 1rem 0;
      }
  
      .quantity_products {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 20px;
        justify-content: space-evenly;
  
        .price__product {
          font-size: 1.4rem;
          color: #333333;
          transition: all 0.3s ease-out;
        }

        .amount-combo {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .mat-icon__shopping-cart {
                margin-left: 10px;
            }

            .mat-icon__shopping-cart.red {
                color: red;
            }

            .mat-icon__remove_circle {
                margin-bottom: 10px;
                font-size: 1.8rem;
                color: #634AEF;
                // position: relative;
              }
          
              mat-form-field {
                display: block;
                position: relative;
                flex: auto;
                min-width: 0;
                max-width: 30px !important;
        
                input {
                  text-align: center;
                }
        
                input[type=number]::-webkit-inner-spin-button,
                input[type=number]::-webkit-outer-spin-button {
                  -webkit-appearance: none;
                  margin: 0;
                }
      
                input[type=number] {
                  -moz-appearance:textfield;
                  }
              }
      
              .mat-icon__add_circle {
                margin-bottom: 10px;
                font-size: 1.8rem;
                color: #634AEF;
                // position: relative;
              }
        }

      }
    }
    
  }


