<div class="row nav-bar">
    <img src="./assets/logosoda.svg" alt="" class="img__coca">
    <div class="nav-shopping-cart" [ngClass]="showShoppingCart ? 'hide' : ''">
        <button (click)="toggleShoppingCart()" mat-mini-fab class="mat-mini-fab__shopping-cart">
      <mat-icon matBadge="{{ counter }}" matBadgeColor="warn" class="mat-icon__shop">shopping_cart</mat-icon>
    </button>
    </div>
</div>

<div class="subheader">
    <span class="subheader-span">Destapa la felicidad</span>
</div>

<form class="example-form">
    <mat-grid-list cols="3" rowHeight="120px" [gutterSize]="'1rem'">
        <mat-grid-tile *ngFor="let prod of products let i = index">
            <app-product-card [prod]="prod" (add)="addProd($event)"></app-product-card>
        </mat-grid-tile>
    </mat-grid-list>
    <!-- {{ shoppingCart | json}} -->
</form>


<!-- <div class="bg-overlay" [ngClass]="showShoppingCart ? '' : 'hide'">

</div> -->
<div class="shopping-cart-overlay" [ngClass]="showShoppingCart ? '' : 'overlay-close'">
    <div style="margin:26px">
        <!-- <div class="row nav-bar col-12"> -->
        <div class="subheader-shopping-cart">
            <button (click)="toggleShoppingCart()" mat-raised-button class="button__back">
        Seguir comprando
        <mat-icon>loyalty</mat-icon>
      </button>
        </div>
        <form class="example-form">
            <div class="block-supreme row">
                <div class="block_mat-grid-list">
                    <mat-grid-list cols="2" rowHeight="120px" [gutterSize]="'1rem'">
                        <mat-grid-tile class="product-box" *ngFor="let prod of getShoppingCartAsArray()">
                            <app-product-card-overlay [showDelete]="true" [prod]="prod" (delete)="delProduct($event)">
                            </app-product-card-overlay>
                        </mat-grid-tile>
                    </mat-grid-list>
                </div>
                <div class="block_total-cost">
                    <span class="title">Resumen de orden</span>
                    <mat-grid-list cols="2" rowHeight="50px" *ngFor="let prod of getShoppingCartAsArray()">
                        <mat-grid-tile class="grid-tile_description">
                            <div class="description">
                                <div class="description">{{ prod.description }}</div>
                            </div>
                        </mat-grid-tile>
                        <mat-grid-tile class="tile-cost">
                            <div class="cost">
                                $ {{ prod.amount * prod.unitPrice | number : '1.2-2'}}
                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>
                    <div class="row totalCost">
                        Total: ${{totalCost | number : '1.2-2'}}
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>






<!-- 
 -->