
  
  .nav-bar {
    display: initial;
    justify-content: center;
  }
  
  .img__coca {
    height: 85px;
    margin: 2% 0 0 2%;
  }
  
  .mat-icon__add_circle {
    float: right;
    font-size: 1.8rem;
    color: #634AEF;
    // position: relative;
  }

  .mat-icon__remove_circle {
    float: left;
    font-size: 1.8rem;
    color: #634AEF;
    // position: relative;
  }

  

  .nav-shopping-cart {
    float: right;
    padding: 2% 0;  
  }
  
  label {
    font-weight: 500;
    margin: 0 10px 0 10px;
    font-family: 'Quicksand', sans-serif;
  }
  
  .mat-mini-fab__shopping-cart {
    background-color: #333333;
    margin: 0 2rem 0;
  }
  
  .mat-icon__shop {
    color: #fff;
  }

  .img__product {
    right: 3rem;
    height: 80px;
    margin: 0 1rem 0;
  }

  .div__product {
    background-color: rgb(255, 242, 242, .8);
    float: left;
    width: 90%;
    font-family: 'Quicksand', sans-serif;
    box-shadow: #333333;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 90%;
    padding: 0;
    margin: 0;
    position: absolute;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 2rem;
    
}

.div__product:hover {
      background-color: #333333 !important;
      color: #fff !important;
      height: 100%;
      width: 100%;
      span {
          color: #fff;
      }
      mat-icon {
          color: #8C8EFF;
          cursor:pointer;
      }
      input {
          color: #fff;
      }
  }

  .subheader {
      min-height: 120px;
  }

  .subheader-span {
      float: right;
      margin-right: 20px;
      color: #333333;
      font-size: 50px;
      font-family: 'Fredoka One';
  }

  .subtitle__product {
      font-weight: 600;
      font-size: 1.2rem;
      margin: 1rem 0 1rem 0;
  }

  .mat-grid-tile__data {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center
  }

  .price__product {
      font-size: 1.4rem;
      color: #333333;
  }

  .quantity_products {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }

  mat-form-field {
    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
    max-width: 40px !important;
  }