<div class="row nav-bar">
  <img src="../assets/logosoda.svg" alt="" class="img__coca">
  <div class="nav-shopping-cart">
    <button mat-mini-fab class="mat-mini-fab__shopping-cart">
      <mat-icon matBadge="{{ counter }}" matBadgeColor="warn" class="mat-icon__shop">add_shopping_cart</mat-icon>
    </button>
    <!-- <label class="nav-shopping-cart__label">MI CARRITO</label> -->
  </div>
</div>
<div class="subheader">
  <span class="subheader-span">Destapa la felicidad</span>
</div>
<form class="example-form">
  <mat-grid-list cols="3" rowHeight="120px" [gutterSize]="'1rem'">
    <mat-grid-tile *ngFor="let prod of products">
      <div class="div__product">
        <div>
          <img class="img__product" src="../assets/default-img.svg" alt="">
        </div>
        <div class="mat-grid-tile__data">
          <span class="subtitle__product">{{ prod.description }}</span>
          <div class="quantity_products">
            <span class="price__product">${{ prod.unitPrice }}</span>
            <mat-icon class="mat-icon__remove_circle">remove_circle</mat-icon>
            <mat-form-field>
              <input matInput type="number" class="input__products">
            </mat-form-field>
            <mat-icon class="mat-icon__add_circle" (click)="addProd(prod)">add_circle</mat-icon>
          </div>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>
{{ listCart | json}}
<!-- <mat-card>
            
          </mat-card> -->